html{
  background-color: #587099;
}
header{
  background-color: #101116;
}
nav{
  background-color: #616E9A;
  color: white;
  font-family: roboto;
}

h1 {
  color: #ECEBE9;
  font-size: 150px;
  font-family:Anton;
}
h2 {
  color: #032A49;
  font-size: 50px;
  font-family: Oswald;
}

img{
  width: 300px;
}