*{
  padding: 0;
  margin: 0;
}

html{
  background-color: #587099;
}

header{
  background-color: #101116;
  min-height:100vh;
  width:100%;
  position: flex;
  top: 50%;
  width: 100%;
  text-align: center;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4vw;
  color: #ECEBE9;

}

nav{
  color: white;
  font-family: roboto;
}

h2 {
  color: #032A49;
  font-size: 50px;
  font-family: Oswald;

}

img{
  width: 300px;
}